@font-face {
font-family: 'gotham black';
src: url(https://doublevirgo.github.io/fonts/gothamblack.woff) format('woff');
}
body { 
background-image: url("");
background-repeat: no-repeat;
background-size: cover;
}
.top {
text-align: center;
}
.header {
border-bottom: none;
padding: 50px 0;
overflow: visible;
}
ul>li>a {
font-family: "Arial";
font-size: 26px;
text-transform: uppercase;
color: #000;
letter-spacing: 0px;
}    
ul {
color: #000;
list-style: none;
}    
li {
display: inline;
font-weight: 900;
padding: 2.5%;
}
a {
padding: 18px;
text-decoration: none;
}
a:hover {
color: #96daea;
}
