@font-face {
font-family: ' ';
src: url(https://doublevirgo.github.io/fonts/.woff) format('woff');
}
body { 
background-image: url("");
background-repeat: no-repeat;
background-size: cover;
}
.top {
display: block;
text-align: center;
text-transform: uppercase;
color: #fff;
font-family: arial, sans-serif;
font-weight: bold;
font-size: 12px;
background: #96daea;
padding: 10px;
}
.container {
max-width: 1000px;
width: 100%;
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
}
.header {
border-bottom: none;
padding: 50px 0;
overflow: visible;
box-sizing: border-box;

}
ul>li>a {
font-family: "Arial";
font-size: 26px;
text-transform: uppercase;
color: #000;
letter-spacing: 0px;
}    
ul {
color: #000;
list-style: none;
}    
li {
display: inline;
font-weight: 900;
padding: 2.5%;
}
a {
padding: 18px;
text-decoration: none;
}
a:hover {
color: #96daea;
}
img{
    vertical-align: middle;
}
